@use '../style/' as c;

.buttonContainer {
   box-sizing: border-box;

   /* Auto layout */

   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 2rem 4rem;
   gap: 10px;

   width: fit-content;
   height: 75px;

   /* Dominant/5 */

   border: 1px solid c.$Accent7;
   border-radius: 37px;

   /* Inside auto layout */

   flex: none;
   order: 5;
   flex-grow: 0;
   span {
      font-weight: 500;
      font-family: c.$Secondary;
      font-style: normal;
      font-size: 3.2rem;
      line-height: 45px;
      /* identical to box height */

      display: flex;
      align-items: center;
      text-align: center;
      color: c.$Complementary1;
   }
   img {
      height: 5rem;
      margin-left: 0.8rem;
      z-index: -1;
      
   }
  
}
// .ripple {
//    background-position: center;
//    transition: background 0.8s;
//  }
//  .ripple:hover {
//    background: #03916e2b radial-gradient(circle, transparent 1%, #03916e2b 1%) center/15000%;
//    cursor: pointer;
//  }
//  .ripple:active:hover {
//    background-color:  #03916e2b;
//    background-size: 100%;
//    transition: background 0s;
// }