.skeletonContainer {
  .title {
    display: flex;
    justify-content: center;
  }
  .skeleton {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
  }
}
.container {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.4rem 0;
    gap: 3.8rem;
  }
}
