@use "../../style/" as c;

@mixin fsw($fz: 2.7rem, $fw: 400) {
  font-size: $fz;
  font-family: $fw;
}

@mixin fsf($fz: 2.7rem, $ff: c.$Secondary) {
  font-size: $fz;
  font-family: $ff;
}

.container {
  background-color: c.$Dominant3;
  margin: 4rem 12rem 2rem 1.5rem;
  padding: 2rem;
  .header {
    @include fsw;
    font-family: c.$Secondary;
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 0.1rem solid c.$Complementary0;
    margin-bottom: 2rem;

    .title {
      padding-bottom: 0.5rem;
    }
    .changeButton {
      Button {
        color: c.$Accent6;
        @include fsf(1.5rem);
        border: 0.1rem solid c.$Complementary0;
        margin-bottom: 1rem;
      }
      Button:hover {
        cursor: pointer;
      }
    }
  }
  .info {
    .nameAndPhone {
      @include fsf(2.4rem);
      display: flex;
      justify-content: center;
      border-bottom: 0.1rem solid c.$Complementary0;

      .name {
        width: 50%;
        border-right: 0.2rem solid c.$Complementary0;
        margin-bottom: 1.5rem;
      }
      .errorName {
        width: 50%;
        border-right: 0.2rem solid c.$Complementary0;
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
        color: red;
      }
      .phone {
        padding-left: 2rem;
      }
      .errorPhone {
        padding-left: 2rem;
        font-size: 1.8rem;
        margin-top: 0.5rem;
        color: red;
      }
    }
    .address {
      @include fsf(2.4rem);
      margin-top: 2rem;
      text-align: center;
    }
    .errorAddress {
      @include fsf(1.8rem);
      margin-top: 2rem;
      text-align: center;
      color: red;
    }
  }
}
