@use "../../style/" as c;

@mixin fsw($fz: 2.7rem, $fw: 400) {
  font-size: $fz;
  font-family: $fw;
}

@mixin fsf($fz: 2.7rem, $ff: c.$Secondary) {
  font-size: $fz;
  font-family: $ff;
}

.container {
  background-color: c.$Dominant3;
  margin: 4rem 12rem 2rem 1.5rem;
  padding: 2rem;
  .header {
    @include fsw;
    font-family: c.$Secondary;
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 0.1rem solid c.$Complementary0;
    margin-bottom: 2rem;

    .title {
      padding-bottom: 0.5rem;
    }
    .changeButton {
      button {
        color: c.$Accent6;
        @include fsf(2.5rem);
        border-bottom: 0.1rem solid c.$Complementary0;
        // padding-top: 1rem;
      }
      button:hover {
        cursor: pointer;
      }
    }
  }
  .info {
    .nameAndPhone {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      .name {
        border-right: 0.2rem solid c.$Complementary0;
      }
      .phone {
      }
    }
    .address {
    }
  }
}
