@use "../../style/" as c;

@mixin fsw($fz: 2.7rem, $fw: 400) {
  font-size: $fz;
  font-family: $fw;
}

@mixin fsf($fz: 2.7rem, $ff: c.$Secondary) {
  font-size: $fz;
  font-family: $ff;
}

.container {
  height: 100%;
  width: 700px;
  background-color: c.$Dominant3;
  padding: 5rem 5rem 2rem 5rem;
  @include fsf(2.4rem);
  .header {
    margin-bottom: 3rem;

    .title {
      text-align: center;
      font-size: 3.6rem;
      font-weight: 900;
    }
    .closeButton {
      display: flex;
      justify-content: flex-end;
      button {
        color: c.$Complementary0;
        cursor: pointer;
        font-size: 7rem;
        line-height: 0.9;
        position: absolute;
        top: 4rem;
      }
      button:hover {
        color: red;
      }
    }
  }

  .information {
    .nameAndPhone {
      display: flex;
      .name {
        padding-right: 0.8rem;
      }
      .phone {
        padding-left: 0.8rem;
      }
    }
  }
  .addressContainer {
  }
  .submitBtn {
    display: flex;
    justify-content: end;
    margin-top: 3rem;
    Button {
      @include c.f-button();
    }
  }
}
