@use "../../../../style/" as c;
.container {
  .stepper {
    .step {
      .stepLabel {
        span {
          font-size: 2.4rem;
        }
        svg {
          font-size: 3rem;
          text {
            font-size: 2.4rem;
          }
        }
      }
    }
  }
}
