@use "../style/" as c;

@mixin button(
  $padding: 1rem,
  $color: c.$Dominant4,
  $backgroundColor: c.$Complementary0
) {
  border: 1px solid c.$Complementary0;
  font-size: 2.4rem;
  font-family: c.$Secondary;
  padding: $padding;
  text-transform: none;
  color: $color;
  background-color: $backgroundColor;
}

.orderButton {
  margin: 2rem 12rem 2rem 1.5rem;
  display: flex;
  justify-content: end;

  & > Button {
    @include button(1rem 2rem, c.$Complementary0, c.$Complementary6);

    &:hover {
      color: c.$Accent7;
      background-color: c.$Dominant5;
    }
  }
}
