@use "../style/" as c;

@mixin text($fw: 600, $fz: 3rem, $color: c.$Complementary0) {
  font-weight: $fw;
  font-size: $fz;
  color: $color;
}

$heightAvatar: 30rem;

.container {
  display: flex;
  flex-direction: row;

  .uploadImg {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    .imgProfile {
      img {
        height: $heightAvatar;
        width: $heightAvatar;
        border-radius: 50%;
      }
    }

    .editProfile {
      @include text(400, 2rem);
      text-decoration: none;
      border: 1px solid c.$Complementary0;
      padding: 2rem 0;
      text-align: center;
      cursor: pointer;
      width: $heightAvatar;
    }

    .editProfile:hover {
      color: c.$Accent7;
      background-color: c.$Dominant5;
    }
  }

  .contentRight {
    display: flex;
    flex-direction: column;
    padding: 0px 8rem;
    align-items: center;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;

    .title {
      font-family: c.$Secondary;
      font-weight: 400;
      font-size: 5rem;
      padding: 5rem 0.5rem;
      color: #000000;
    }
    .formBordered {
      width: 95%;
      .inputContainer {
        display: flex;
        align-items: center;
        width: 100%;
        .input {
          padding-bottom: 2.5rem;
          width: calc(100% / 3);
        }
      }

      .info {
        display: flex;
        width: 100%;
        padding-bottom: 2.5rem;
        .password {
          width: 50%;
        }
      }

      .address {
        display: flex;
        width: 100%;
        padding: 0rem 0.5rem 2.5rem 0.5rem;
      }

      .description {
        display: flex;
        width: 100%;
        padding: 0rem 0.5rem 2.5rem 0.5rem;
      }
      .button {
        .iconButton {
          width: 100%;
          padding: 0rem 0.5rem;
        }
      }
    }
  }

  .separate {
    font-size: 3rem;
    padding: 0.8rem;
  }

  .linkBottom {
    color: c.$Complementary2;
    font-size: 2.4rem;
    margin-bottom: 5rem;
    .link {
      text-decoration: none;
    }
  }
  .helpGooleText {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 2rem;
    padding: 10px;
  }
}
