@use "../../style/" as c;

.container {
  margin: 2rem 10rem;
  .tag {
    .item {
      .content {
        box-shadow: 6px 6px 25px 2px gray;
        border-radius: 0.8rem;
        .itemDetail {
          .header {
          }
          .info {
            .image {
              img {
                width: 100%;
                height: 25rem;
              }
            }
            .name {
              font-size: 2rem;
              text-align: center;
            }
          }
          .viewAll {
            padding: 5px 20px 15px;
            Button {
              @include c.f-button();
            }
          }
        }
      }
    }
  }
}
