@use "../../style/" as c;

.container {
  background: c.$Accent2;
  margin-left: 10rem;
  .cover {
    font-size: 3rem;
    font-family: c.$Secondary;
    height: 24rem;

    .aboutShop {
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: space-around;
      @include c.f-backdrop();
      .overView {
        display: flex;
        justify-content: center;
        align-items: center;

        .image {
          margin-right: 2rem;
          img {
            width: 18rem;
            height: 18rem;
            border-radius: 50%;
          }
        }
        .shop {
          display: flex;
          flex-direction: column;
          justify-content: end;
          align-items: start;
          color: c.$Dominant4;
          .shopName {
            font-size: 4rem;
            font-weight: 900;
            margin-left: 1rem;
          }
        }
      }

      .action {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        Button {
          @include c.f-button(0.5rem 3rem, c.$Dominant4, c.$Complementary8);
        }
      }
    }
  }
  .information {
    font-size: 3rem;
    font-family: c.$Secondary;
    display: flex;
    padding: 0 5rem;
    // justify-content: space-evenly;
    align-items: center;
    .title {
      font-weight: 900;
    }
    .content {
      color: c.$Accent9;
    }
    .left {
      display: flex;
      flex-direction: column;
      gap: 5rem;
      font-weight: bolder;
      width: 100%;
      .products {
        display: flex;
        gap: 1rem;
      }
      .sold {
        display: flex;
        gap: 1rem;
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      gap: 5rem;
      width: 100%;
      font-weight: bolder;

      .rating {
        display: flex;
        gap: 1rem;
      }
      .joined {
        display: flex;
        gap: 1rem;
      }
    }
  }
}

.skeletonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 10rem;
  border-bottom: 0.1rem solid gray;
  .left {
    display: flex;
    justify-content: center;
    gap: 20rem;
    padding-right: 9rem;
    border-right: 0.1rem solid gray;
    .info {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      .shopAvatar {
      }
      .shopName {
      }
    }
    .action {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 1rem;
    }
  }
  .right {
    display: flex;
    justify-content: center;
    gap: 3rem;
    .l {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .r {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
