@use "../../../style/" as c;

.containerAllShop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 273px;
  gap: 10px;
  height: 12rem;

  background: c.$Complementary2;

  .slogan {
    font-family: c.$Primary;
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 51px;

    /* Dominant/5 */

    color: #cdffa6;
    p {
      margin: 0;
    }
  }

  .shopName {
    font-family: "SeoulHangang";
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;

    color: #b3dfff;
  }
}
