@use "../productDetails.module.scss" as productDetails;

$thumpSize: calc(productDetails.$imgWidth/5);
.mySwiper2 {
  .swiper-wrapper {
    display: flex;
    align-items: center;
  }
}
.mySwiper .swiper-slide {
  display: flex;
  align-items: center;
  width: $thumpSize !important;
  height: $thumpSize !important;
  opacity: 0.4;
  img {
    display: block;
    width: $thumpSize !important;
    height: $thumpSize !important;
    object-fit: cover;
  }
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}
.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
.mySwiper {
  display: flex;
  margin: 0 auto;
}
