@use "../style/" as c;

@mixin text($fw: 600, $fz: 3rem, $color: c.$Complementary0) {
  font-weight: $fw;
  font-size: $fz;
  color: $color;
}

$heightAvatar: 24rem;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  .title {
    font-family: c.$Secondary;
    text-align: center;
    font-size: 5rem;
  }

  .profile {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: c.$Secondary;
    border: 0 solid c.$Complementary0;

    .uploadImg {
      display: flex;
      flex-direction: column;

      .disabled {
        display: none;
      }

      .imgProfile {
        margin-top: 6rem;
        img {
          height: $heightAvatar;
          width: $heightAvatar;
          border-radius: 100%;
        }
      }

      .editProfile {
        @include text(400, 2rem);
        text-decoration: none;
        border: 1px solid c.$Complementary0;
        padding: 1.5rem;
        margin-top: 1rem;
        font-size: 2.4rem;
        border-radius: 5px;
        font-family: c.$Secondary;
        text-align: center;
        cursor: pointer;
        color: c.$Dominant4;
        background-color: c.$Complementary5;
      }

      .editProfile:hover {
        color: c.$Accent7;
        background-color: c.$Dominant2;
      }
    }

    .showInfo {
      display: flex;
      flex-direction: column;
      height: 30rem;
      justify-content: space-between;
      padding: 7rem 0 0 10rem;
      .info {
        .title {
          column-gap: 2rem;
          row-gap: 2rem;
        }
      }
    }
  }
  :global(.Mui-disabled) {
    opacity: 1;
    -webkit-text-fill-color: rgba(33, 33, 33, 0.867);
  }
  .containerButton {
    display: flex;
    justify-content: end;
    gap: 1rem;
    .saveChange {
      Button {
        @include c.f-button();
      }
    }
  }
}
.model {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: c.$Dominant3;
  padding: 4rem 8rem;
  height: fit-content;
  border-radius: 5px;
  .buttonControl {
    margin-top: 3rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    .saveChange {
      Button {
        @include c.f-button();
      }
    }
  }
}
