@use "../../../../style/" as c;

.container {
  .action {
    display: flex;
    justify-content: end;
    margin-right: 11rem;
    Button {
      @include c.f-button(0.5rem 3rem);
      margin: 3rem 1rem;
    }
  }
}
