@use "../../../../style/" as c;

.container {
  display: flex;
  justify-content: end;

  .rate {
    display: flex;
    justify-content: end;
    Button {
      @include c.f-button();
      margin: 2rem 1rem;
    }
  }

  .chat {
    display: flex;
    align-items: center;
    margin-right: 11rem;
  }
}
