@use "../../../style/" as c;

@mixin fsf($fz: 2.7rem, $ff: c.$Secondary) {
  font-size: $fz;
  font-family: $ff;
}

@mixin fsw($fz: 2.7rem, $fw: 400) {
  font-size: $fz;
  font-weight: $fw;
}

.container {
  @include fsf(2.4rem);
  background-color: c.$Complementary4;
  color: c.$Dominant2;
  margin: 2rem !important;
  max-height: 12rem;
  .productImage {
    img {
      width: 12rem;
      height: 12rem;
    }
  }
  .productInfo {
    display: flex;
    justify-content: start;
    align-items: center;
    .productName {
    }
  }

  .productQuantity {
    font-size: 2rem;
    margin: auto 0;
    text-align: center;
  }
  .productPrice {
    font-size: 2rem;
    margin: auto 0;
    text-align: center;
  }
}
