@use "../../../style/" as c;

@mixin fsf($fz: 2.7rem, $ff: c.$Secondary) {
  font-size: $fz;
  font-family: $ff;
}

@mixin fsw($fz: 2.7rem, $fw: 400) {
  font-size: $fz;
  font-weight: $fw;
}

.container {
  @include fsf(2.4rem);
  background-color: c.$Dominant4;
  margin: 3rem !important;
  max-height: 17.5rem;
  .productImage {
    img {
      width: 17.5rem;
      height: 17.5rem;
    }
  }
  .productInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
    .productName {
    }
    .shopName {
      font-size: 2rem;
    }
  }

  .productQuantity {
    font-size: 2rem;
    margin: auto 0;
    text-align: center;
  }
  .productPrice {
    font-size: 2rem;
    margin: auto 0;
    text-align: center;
  }
}
